body {
  font-size:200%;
}
#coucou {
  position: absolute;
  background-color:#0083CF;
  color:#FFFFFF;
  margin:0px;
  padding: 0.2em;
  bottom: 100px;
  width : 100%;
  overflow:auto;
} 
#interaction {
  position: absolute;
  bottom: 100px;
  /*border: 3px solid #8AC007;
  overflow:auto;*/
  color:#FFFFFF;
  width : 100%;
}
.button {
  border-radius: 10px;
  padding: 0px; 
  width: 40px;
  height: 40px; 
  background: #0083CF;
  margin: 5px;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #0083CF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size:200%;
}
